body{
    background: black;
}

nav{
    background-color: #222222 !important;
}

a{
    color: #aa0af7;
}

p{
    color: #7fdd57;
}

.banner{
    width: 45vw;
    margin-top: 5vh !important;
    position: relative;
}